<div class="register-container">
  <app-image imagePath="/static/poke.png" imageSize="100" />
  <h2 class="register-header">REGISTER</h2>
  <form
    nz-form
    [nzAutoTips]="autoTips"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
    class="register-form"
  >
    <nz-form-item>
      <nz-form-control nzValidatingTip="Validating...">
        <input
          nz-input
          autocomplete="username"
          formControlName="username"
          placeholder="Username"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          nz-input
          autocomplete="firstname"
          formControlName="firstname"
          placeholder="Firstname"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input
          nz-input
          autocomplete="lastname"
          formControlName="lastname"
          placeholder="Lastname"
        />
      </nz-form-control>
    </nz-form-item>
    <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>Mobile</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input nz-input formControlName="mobile" placeholder="mobile" />
    </nz-form-control>
  </nz-form-item> -->
    <!-- <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12">
      <input
        nz-input
        formControlName="email"
        placeholder="email"
        type="email"
      />
    </nz-form-control>
  </nz-form-item> -->
    <nz-form-item>
      <nz-form-control
        nzDisableAutoTips
        nzErrorTip="Please input your password!"
      >
        <input
          nz-input
          type="password"
          autocomplete="new-password"
          formControlName="password"
          placeholder="Password"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
        <input
          nz-input
          autocomplete="new-password"
          type="password"
          formControlName="confirm"
          placeholder="Confirm your password"
        />
        <ng-template #passwordErrorTpl let-control>
          @if (control.errors?.["required"]) {
            Please confirm your password!
          }
          @if (control.errors?.["confirm"]) {
            Password is inconsistent!
          }
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <div class="register-button-container">
      <button
        nz-button
        nzType="primary"
        class="register-button"
        [nzLoading]="isLoading"
      >
        Submit
      </button>
      <button
        (click)="goBackToLogin()"
        class="register-button"
        nz-button
        nzType="primary"
      >
        Back to login
      </button>
    </div>
  </form>
</div>
