<div class="user-container" *ngIf="user$ | async as user">
  <div class="user-info-div">
    <nz-descriptions nzTitle="User Info" nzBordered [nzColumn]="1">
      <nz-descriptions-item nzTitle="Firstname">{{
        user.firstname
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Lastname">{{
        user.lastname
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Coins">{{
        user.pokemonCoin
      }}</nz-descriptions-item>
    </nz-descriptions>
  </div>
  <div class="user-foto-div">
    <nz-row [nzGutter]="70">
      <nz-col [nzSpan]="12">
        <nz-statistic
          nzTitle="Captured"
          [nzValue]="(captured | async) ?? 0"
          [nzPrefix]="prefixTpl"
          ><ng-template #prefixTpl
            ><app-image
              imagePath="/static/poke.png"
              imageSize="15" /></ng-template
        ></nz-statistic>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-statistic [nzValue]="amount" nzTitle="Total"></nz-statistic>
      </nz-col>
    </nz-row>
  </div>
</div>
