.user-container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  min-width: 300px;
  gap: 40px;
  margin-left: 50px;

  .user-info-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .user-foto-div {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: 5px;
  }
}

:host ::ng-deep .ant-descriptions-bordered {
  background-color: #021024;
  padding-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  height: 90%;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.1),
    0 6px 16px rgba(0, 0, 0, 0.06);
}

:host ::ng-deep .ant-descriptions-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 5px;
  text-align: center;
  color: #ffffff;
}

:host ::ng-deep .ant-descriptions-item-label {
  min-width: 100px;
  min-height: 50px;
  /* height: 50px; */
  background-color: #1f3d54;
  font-weight: bold;
  color: #ffffff;
  font-weight: bold;
  /* width: 100px; */
}

:host ::ng-deep .ant-descriptions-item-content {
  min-width: 100px;
  min-height: 50px;
  height: 50px;
  width: 200px;
  color: #333;
  font-weight: bold;
  background-color: #fff;
  padding: 8px 12px;
  word-break: break-word;
}
