<div class="pokedex-container">
  <div class="pokedex">
    <nz-table
      #basicTable
      [nzData]="pokemons"
      [nzPageSize]="9"
      [nzShowPagination]="true"
      [nzFrontPagination]="true"
    >
      <thead>
        <tr class="left-header">
          <th [nzWidth]="'40%'" style="text-align: center">Image</th>
          <th [nzWidth]="'60%'" style="text-align: center">Name</th>
        </tr>
      </thead>
      <tbody>
        @for (pokemon of basicTable.data; track pokemon) {

        <tr class="left-image-name-container" (click)="selectPokemon(pokemon)">
          <td class="left-image">
            <img class="left-img" [src]="pokemon.image" alt="LOGO" />
          </td>
          <td class="left-name">{{ pokemon.name.toUpperCase() }}</td>
        </tr>

        }
      </tbody>
    </nz-table>
  </div>
  <div class="pokeball-div">
    <img
      [src]="
        selectedPokemon.biggerImage
          ? selectedPokemon.biggerImage
          : '/static/poke.png'
      "
      alt="LOGO"
      class="pokeball"
    />
  </div>
</div>
