<div class="pokedex-container">
  <div class="pokedex">
    <nz-table
      #basicTable
      [nzData]="pokemons"
      [nzPageSize]="10"
      [nzShowPagination]="true"
      [nzFrontPagination]="true"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
        <tr>
          <th [nzWidth]="'30%'" class="header-font-in-table">Image</th>
          <th [nzWidth]="'70%'" class="header-font-in-table">Name</th>
        </tr>
      </thead>
      <tbody>
        @for (pokemon of basicTable.data; track pokemon) {
        <tr class="name-image">
          <td>
            <img class="image-in-list" [src]="pokemon.image" alt="LOGO" />
          </td>
          <td>{{ pokemon.name.toUpperCase() }}</td>
        </tr>
        }
      </tbody>
    </nz-table>
  </div>
  <div class="pokeball-div">
    <img src="/static/poke.png" alt="LOGO" class="pokeball" />
    <!-- <img [src]="imagePath$ | async" *ngIf="imagePath$ | async" /> -->
  </div>
</div>
