<header class="app-header">
  <div class="header-left">
    <img src="/static/poke.png" class="logo" alt="Logo" />

    <nav class="menu desktop-menu">
      <a
        *ngFor="let item of menuList; trackBy: trackByPath"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >{{ item.label }}</a
      >
    </nav>
  </div>

  <div class="header-right">
    <i
      nz-icon
      nzType="logout"
      nzTheme="outline"
      class="logout-icon"
      (click)="logout()"
    ></i>
  </div>
</header>
