<img class="logo" src="/static/logo.png" alt="LOGO" />

<ng-template *ngFor="let item of menuList">
  <a
    nz-dropdown
    [nzDropdownMenu]="menu"
    *ngIf="item.lists else showTemplate"
  >
    {{ item.name }}
    <span>
      <nz-icon nzType="caret-down" nzTheme="outline" />
    </span>
  </a>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let subItem of item.lists">
        {{ subItem.name || "No Name" }}
      </li>
    </ul>
  </nz-dropdown-menu>

  <ng-template #showTemplate>
    <a>{{ item.name }}</a>
  </ng-template>
</ng-template>
