.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  margin: 40px;
  gap: 100px;
}

.user-record-div {
  min-width: 500px;
  width: 700px;
  min-height: 500px;
  height: 800px;
  max-height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.1);
  color: #333; /* 文字颜色 */
  font-size: 20px;
  overflow-y: auto;
}

/* 自定义滚动条样式 */
.user-record-div::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
}

.user-record-div::-webkit-scrollbar-track {
  background: #f0f0f0; /* 滚动条轨道的背景颜色 */
  border-radius: 10px; /* 轨道的圆角 */
}

.user-record-div::-webkit-scrollbar-thumb {
  background-color: #007bff; /* 滚动条的颜色 */
  border-radius: 10px; /* 滚动条的圆角 */
  border: 2px solid #f0f0f0; /* 滚动条与轨道之间的间隙 */
}

.user-record-div::-webkit-scrollbar-thumb:hover {
  background-color: #0056b3; /* 滚动条悬停时的颜色 */
}

.user-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: 400px;
}
