.lotto-container {
  display: flex;
  min-height: 100vh;
  gap: 20px;
}

.ball-coin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin: 20px;
  gap: 20px;
  border-right: 1px solid #ccc;
}

.lotto-ball {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-coin-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.poke-ball {
  max-width: 70%;
  max-height: 70%;
  animation: scaleAnimation 3s infinite;
}

.no_ball_animation {
  max-width: 70%;
  max-height: 70%;
  animation: none;
}

.poke_ball:hover {
  animation-play-state: paused;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.game-info {
  color: rgb(0, 52, 221);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 2px rgb(81, 81, 81);
}

.pokemons-history {
  flex: 2;
  margin: 20px;
  padding-right: 20px;
}

.lotto-images {
  display: flex;
  overflow-x: auto;
}

.right-img {
  width: 70px !important;
  height: 70px !important;
  margin: 10px;
  border-radius: 30%;
  object-fit: cover;
  transition: transform 0.2s;
}

.right-img:hover {
  transform: scale(1.2);
  background-color: aqua;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

[nz-button] {
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 200px;
  height: 70px;
}
