<div class="lotto-container">
  <div class="ball-coin-container">
    <div class="lotto-ball">
      <img src="/static/poke.png" alt="LOGO" class="poke-ball" />
    </div>
    <div class="pokemon-coin-container">
      <a class="game-info">Coin: 1</a>
      <div>
        <button
          nz-button
          nzShape="round"
          nzType="primary"
          nzDanger
          (click)="openRecharge()"
        >
          Recharge
        </button>
        <app-recharge />
        <button
          nz-button
          nzShape="round"
          nzType="primary"
          nzDanger
          (click)="openRechargeHistory()"
        >
          Recharge History
        </button>
        <app-recharge-history />
      </div>
    </div>
  </div>

  <div class="pokemons-history">
    <nz-table
      #basicTable
      [nzData]="pokemonRecords"
      [nzPageSize]="9"
      [nzShowPagination]="true"
      [nzFrontPagination]="true"
      [nzScroll]="{ x: '1000px' }"
      [nzBordered]="true"
    >
      <thead>
        <tr class="lotto-table-header">
          <th [nzWidth]="'40%'" style="text-align: center">Date</th>
          <th [nzWidth]="'60%'" style="text-align: center">Pokemons</th>
        </tr>
      </thead>
      <tbody>
        @for (pokemonRecord of basicTable.data; track pokemonRecord) {
        <tr class="lotto-date-image-container">
          <td class="lotto-date">{{ pokemonRecord.catch_time }}</td>
          <td class="lotto-images">
            <img class="right-img" [src]="pokemonRecord.catch_time" alt="LOGO" />
          </td>
        </tr>

        }
      </tbody>
    </nz-table>
  </div>
</div>
