.app-header {
  height: 100px; /* 固定 header 高度 */
  flex-shrink: 0;
}

.main-content {
  flex-grow: 1; /* 占据剩余空间 */
  overflow: auto; /* 超出可滚动 */
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
