<div class="user-container" *ngIf="user$ | async as user">
  <div class="user-info">
    <nz-descriptions
      nzTitle="User Info"
      nzBordered
      [nzColumn]="1"
      class="nz-info"
    >
      <nz-descriptions-item nzTitle="Firstname">{{
        user.firstname
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Lastname">{{
        user.lastname
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Pokemon coins">{{
        user.pokemonCoin
      }}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="Adresse">
        Street
        <br />
        plz
        <br />
        ort
      </nz-descriptions-item>
    </nz-descriptions>
  </div>
  <div class="user-foto-div">
    <img class="user-foto" src="/static/poke.png" alt="LOGO" />
  </div>
</div>
