.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  width: 300px;
  gap: 20px;
}

.user-foto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 270px;
}

.user-info-div {
  /* flex: 2 400px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  max-width: 90%;
}

.nz-info {
  width: 500px;
}

.user-foto-div {
  /* flex: 1 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  margin: 20px;
}
