.user-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.user-info {
  flex: 2 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.nz-info {
  width: 500px;
}

.user-foto-div {
  flex: 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-foto {
  width: 250px;
  height: 270px;
}
