<nz-modal
  [(nzVisible)]="isChargeHistoryVisible"
  nzTitle="Recharge History"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <nz-timeline *ngIf="rechargeRecords$ | async as rechargeRecords">
      <nz-timeline-item *ngFor="let record of rechargeRecords"
        >The current balance is {{ record.current_poke_coin }}, recharge
        {{ record.amount_recharge }}, and the current balance is
        {{ record.current_poke_coin + record.amount_recharge }}.
        {{ record.recharge_date }}
      </nz-timeline-item>
    </nz-timeline>
  </ng-container>
</nz-modal>
