<nz-modal
  [(nzVisible)]="isChargeHistoryVisible"
  nzTitle="Recharge History"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
>
  <ng-container *nzModalContent>
    <ng-container *ngIf="rechargeRecords$ | async as rechargeRecords">
      <nz-timeline>
        <nz-timeline-item *ngFor="let record of rechargeRecords">
          The current balance is
          {{ (record.currentPokemonCoin ?? 0) - record.amountRecharge }}, recharge
          {{ record.amountRecharge }}, and the new balance is
          {{ record.currentPokemonCoin }}.
          {{ record.rechargeAt }}
        </nz-timeline-item>
      </nz-timeline>
    </ng-container>
  </ng-container>
</nz-modal>
