<h2>注册</h2>
<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <div>
    <label for="username">Username</label>
    <input name="username" required [(ngModel)]="username" />
    <!-- <div *ngIf="username.invalid && username.touched" style="color: red">
      用户名是必填项
    </div> -->
  </div>

  <div>
    <label for="firstname">Firstname:</label>
    <input type="text" name="firstname" required [(ngModel)]="firstname" />
    <!-- <div *ngIf="firstname.invalid && firstname.touched" style="color: red">
      用户名是必填项
    </div> -->
  </div>

  <div>
    <label for="lastname">Lastname:</label>
    <input type="text" name="lastname" required [(ngModel)]="lastname" />
    <!-- <div *ngIf="lastname.invalid && lastname.touched" style="color: red">
      Lastname
    </div> -->
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" name="password" required [(ngModel)]="password" />
    <!-- <div *ngIf="password.invalid && password.touched" style="color: red">
      密码至少6位
    </div> -->
  </div>

  <button type="submit" [disabled]="registerForm.invalid">注册</button>
</form>

<div *ngIf="message" [style.color]="messageColor">{{ message }}</div>
