<div class="lotto-container">
  <div *ngIf="user$ | async as user" class="ball-coin-container">
    <nz-alert
      nzType="warning"
      nzMessage="Warning"
      nzDescription="Please recharge."
      nzShowIcon
      [hidden]="user.pokemonCoin > 0"
      class="alert-container"
    ></nz-alert>
    <div class="ball-container">
      <img
        src="/static/poke.png"
        alt="LOGO"
        [ngClass]="user.pokemonCoin > 0 ? 'poke-ball' : 'no_ball_animation'"
        (click)="openCatchPokemonDialog()"
      />
    </div>

    <app-catch-new-pokemon *ngIf="openCatchPokemonDialog" />
    <div class="coin-container">
      <a class="game-info" *ngIf="user$ | async as user">
        {{ user.pokemonCoin }}
      </a>
      <app-image imagePath="/static/coin.png" imageSize="50" />
    </div>
    <div class="button-container">
      <button nz-button nzType="primary" nzDanger (click)="openRecharge()">
        Recharge
      </button>
      <app-recharge />
      <button
        nz-button
        nzType="primary"
        nzDanger
        (click)="openRechargeHistory()"
      >
        Recharge History
      </button>
      <app-recharge-history />
    </div>
  </div>

  <div class="pokemons-history-container">
    <nz-table
      #basicTable
      *ngIf="pokemonRecordInList$ | async as data"
      [nzData]="data"
      [nzPageSize]="5"
      [nzShowPagination]="true"
      [nzFrontPagination]="true"
      [nzScroll]="{ x: '50%' }"
      [nzBordered]="true"
    >
      <thead>
        <tr>
          <th [nzWidth]="'15%'" [nzSortFn]="sortByDate">Date</th>
          <th [nzWidth]="'85%'">Pokemons</th>
        </tr>
      </thead>
      <tbody>
        @for (pokemonRecord of basicTable.data; track pokemonRecord.date) {
          <tr>
            <td>{{ pokemonRecord.date }}</td>
            <td class="pokemon-images">
              @for (
                poke of pokemonRecord.pokemonRecordsInTheSameDay;
                track $index
              ) {
                <div class="img-div">
                  <img
                    class="right-img"
                    [src]="poke.image"
                    alt="pokemon image"
                  />
                </div>
              }
            </td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
