.lotto-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

.ball-coin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  width: 500px;
  height: 600px;
  /* padding-left: 20px; */
  margin: 20px;
  gap: 20px;
  /* border-right: 2px solid #ccc; */
}

/* .lotto-ball {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.coin-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.poke-ball {
  max-width: 70%;
  max-height: 70%;
  animation: scaleAnimation 3s infinite;
}

.no_ball_animation {
  max-width: 70%;
  max-height: 70%;
  animation: none;
}

.poke_ball:hover {
  animation-play-state: paused;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.game-info {
  color: rgb(0, 15, 63);
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 2px rgb(81, 81, 81);
}

.pokemons-history-div {
  min-width: 500px;
  max-width: 1000px;
  height: 100%;
  margin: 20px 50px;
  /* padding-right: 50px; */
}

.lotto-date-image-container:hover {
  transform: translateY(-2px);
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.1),
    0 6px 16px rgba(0, 0, 0, 0.06);
}

::ng-deep .ant-table {
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.1),
    0 3px 8px rgba(0, 0, 0, 0.06);
}

::ng-deep .ant-table-thead > tr > th {
  background-color: #021024;
  color: #fdfdfd;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.ant-table-tbody > tr {
  /* background-color: #f2fefe; */
  font-size: 20px;
  color: #000000;
  padding: 10px;
  border-bottom: 1px solid #e8e1d3;
  vertical-align: middle;
  border-radius: 40px;
  margin: 5px;
}

/* 悬停行高亮 */
.ant-table-tbody > tr:hover > td {
  background-color: #f3ebe0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: background-color 0.7s ease;
}

/* 滚动条美化（可选） */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #001e3e;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}

.lotto-images {
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

.img-div {
  min-width: 100px;
  height: 100px;
  margin: 1px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.right-img {
  width: 90%;
  height: 90%;
  transition: transform 0.2s;
}

.img-div:hover {
  transform: scale(1.5);
  border-radius: 40%;
  background-color: rgb(216, 216, 216);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

[nz-button] {
  background-color: #001529;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  width: 200px;
  height: 70px;
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.1),
    0 6px 16px rgba(0, 0, 0, 0.06);
}

[nz-button]:hover {
  transform: translateY(-2px);
  border-radius: 10px;
  background-color: rgb(249, 138, 138);
}
