::ng-deep .ant-timeline-item-content {
  font-size: 15px;
  line-height: 1.5;
  color: #444;
  background-color: #fffdf8;
  padding: 6px 10px;
  border-radius: 4px;
  border: 3px solid #002346;
}

::ng-deep .ant-timeline {
  min-width: 400px;
  max-width: 100%;
  max-height: 700px;
  padding: 20px;
  margin: 5px 5px;
}

.time-class {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
}

span {
  font-size: 17px;
  font-weight: bold;
}

.timeline-coin {
  width: auto;
  height: 20px;
}
