<nz-timeline
  [nzMode]="isCustom ? 'custom' : 'left'"
  *ngIf="combined$ | async as data"
>
  @for (record of data; track $index) {
    <nz-timeline-item
      [nzPosition]="
        record.recordType === recordType.RECHARGE_RECORD ? 'right' : 'left'
      "
      [nzColor]="
        record.recordType === recordType.RECHARGE_RECORD ? 'blue' : 'green'
      "
      [nzDot]="
        record.recordType === recordType.RECHARGE_RECORD ? coin : pokemon_ball
      "
    >
      <div>
        <div *ngIf="record.recordType === recordType.RECHARGE_RECORD">
          <span>
            Recharged {{ record.recordObject.amountRecharge }} coins, now is
            {{ record.recordObject.currentPokemonCoin }} coins.
          </span>
        </div>
        <div *ngIf="record.recordType === recordType.POKEMON_RECORD">
          <span>
            Congratulation, you got a
            <img
              [src]="record.recordObject.image"
              style="width: auto; height: 30px"
            />.
          </span>
        </div>
        <div class="time-class">
          {{ record.recordDate | date: date_pipe }}
        </div>
      </div></nz-timeline-item
    >
  }
</nz-timeline>

<ng-template #coin
  ><img src="/static/coin.png" class="timeline-coin"
/></ng-template>

<ng-template #pokemon_ball
  ><img src="/static/poke.png" class="timeline-coin"
/></ng-template>
