<nz-timeline nzMode="custom" *ngIf="combined$ | async as data">
  @for (record of data; track $index) {
  <nz-timeline-item
    [nzPosition]="
      record.homeObjectType === 'RECHARGE_RECORD' ? 'right' : 'left'
    "
    [nzColor]="record.homeObjectType === 'RECHARGE_RECORD' ? 'blue' : 'green'"
  >
    <div>
      <div *ngIf="record.homeObjectType === 'RECHARGE_RECORD'">
        <span>
          Recharged {{ record.homeObject.amountRecharge }}
          <img src="/static/coin.png" style="width: auto; height: 20px" />.
        </span>
      </div>
      <div *ngIf="record.homeObjectType === 'POKEMON_RECORD'">
        <span>
          Congratulation, you got a
          <img
            [src]="record.homeObject.image"
            style="width: auto; height: 30px"
          />.
        </span>
      </div>
      <div class="time-class">
        {{ record.homeObjectDate | date : date_pipe }}
      </div>
    </div></nz-timeline-item
  >
  }
</nz-timeline>
