<nz-timeline
  [nzMode]="isCustom ? 'custom' : 'left'"
  *ngIf="combined$ | async as data"
>
  @for (record of data; track $index) {
    <nz-timeline-item
      [nzPosition]="
        record.homeObjectType === 'RECHARGE_RECORD' ? 'right' : 'left'
      "
      [nzColor]="record.homeObjectType === 'RECHARGE_RECORD' ? 'blue' : 'green'"
      [nzDot]="
        record.homeObjectType === 'RECHARGE_RECORD' ? coin : pokemon_ball
      "
    >
      <div>
        <div *ngIf="record.homeObjectType === 'RECHARGE_RECORD'">
          <span>
            Recharged {{ record.homeObject.amountRecharge }} coins, now is
            {{ record.homeObject.currentPokemonCoin }} coins.
          </span>
        </div>
        <div *ngIf="record.homeObjectType === 'POKEMON_RECORD'">
          <span>
            Congratulation, you got a
            <img
              [src]="record.homeObject.image"
              style="width: auto; height: 30px"
            />.
          </span>
        </div>
        <div class="time-class">
          {{ record.homeObjectDate | date: date_pipe }}
        </div>
      </div></nz-timeline-item
    >
  }
</nz-timeline>

<ng-template #coin
  ><img src="/static/coin.png" class="timeline-coin"
/></ng-template>

<ng-template #pokemon_ball
  ><img src="/static/poke.png" class="timeline-coin"
/></ng-template>
