.pokedex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-height: 900px;

  .left-pokedex {
    width: 30%;
    min-width: 400px;
    max-width: 500px;
  }

  .right-poke-ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 500px;
    max-width: 1200px;

    .right-poke-ball-div {
      height: 700px;
      max-width: 90%;
    }
  }
}

.left-header {
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 0 0 2px rgb(61, 60, 60);
}

.left-image-name-container {
  height: 60px;
  transition:
    transform 0.5s ease,
    box-shadow 0.3s ease;

  .left-image {
    text-align: center;
  }

  .left-name {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    text-align: left;
  }
}

.left-image-name-container:hover {
  transform: translateY(-2px);
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.1),
    0 6px 16px rgba(0, 0, 0, 0.06);
  background-color: rgb(16, 184, 210);
}

::ng-deep .ant-table {
  box-shadow:
    0 2px 6px rgba(0, 0, 0, 0.1),
    0 3px 8px rgba(0, 0, 0, 0.06);
}

::ng-deep .ant-table-thead > tr > th {
  background-color: #021024;
  color: #fdfdfd;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

::ng-deep .ant-table-tbody > tr > td {
  height: 80px;
  padding: 0 2px;
}
